<div class="task-list row flex">
  <h2 class="d-flex justify-content-between">
    Lista de Tareas 
    <a class="nav-link" routerLink="/form" routerLinkActive="active" class="btn btn-outline-primary">
      <i class="bi bi-plus-circle"></i>
      Crear nueva Tarea
    </a>
  </h2>
  <h5 class="text-secondary">
    Aquí tienes todas tus tareas
  </h5>

  <hr class="my-5"/>

  <div class="card col-4" *ngFor="let task of tasks">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h4 class="card-title">{{ task.title }}</h4>
        <p>{{ task.description }}</p>
      </div>

      <div class="d-flex justify-content-end">
        <button (click)="toggleCompletion(task)" class="btn btn-primary">
          <i class="bi bi-check-circle"></i>
          {{ task.completed ? 'Desmarcar' : 'Completar' }}
        </button>
    
        <button (click)="deleteTask(task.id)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </div>
    </div>
  </div>
</div>